<div class="row text-center">
    <div class="col">
        <form asp-action="Index" asp-controller="Home" method="get">
            <button type="submit" class="btn btn-link">Chefs</button>
        </form>
    </div>
    <div class="col">
        <form asp-action="VerPlatos" asp-controller="Home" method="get">
            <button type="submit" class="btn btn-link">Dishes</button>
        </form>
    </div>
    <div class="col">
        <form asp-action="AddChef" asp-controller="Home" method="get">
            <button type="submit" class="btn btn-link">Add a Chef</button>
        </form>
    </div>
    <div class="col">
        <form asp-action="AddDishes" asp-controller="Home" method="get">
            <button type="submit" class="btn btn-link">Add a Dish</button>
        </form>
    </div>
</div>